.topnav {
    overflow: hidden;
}
  
a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.invitation {
    float: left;
    color: #ffb300;
}

.setting {
    float: right;
    color: #60584c;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    /* display: none; */
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  
  .button:hover {
    background-color: #f1f1f1;
  }

  .location {
    padding-left: 0px;
  }